pip==24.1.2
types-setuptools==84.0.0.20260812
setuptools==80.10.2
requirements-parser==0.9.0
tokenizers==0.20.3
tyro==1.0.16
transformers==4.45.2
bitsandbytes==0.50.2
trl==0.8.6
huggingface_hub==0.36.2
google-colab==1.0.0
pylibcudf-cu13==26.6.0
ale-py==0.12.1
pyproj==3.8.0
google-cloud-monitoring==2.31.0
wcwidth==0.9.1
jsonschema==4.26.0
rfc3987-syntax==1.1.0
googleapis-common-protos==1.75.5
numexpr==2.14.2
gym-notices==0.1.0
gymnasium==1.3.0
nvidia-libnvcomp-cu13==5.2.0.13
PyDrive2==1.21.1
osqp==1.1.3
grpclib==0.4.9
opencv-python-headless==5.0.0.93
numba-cuda==0.28.2
confection==1.3.3
referencing==0.37.0
absl-py==1.4.0
debugpy==1.8.15
nvidia-cuda-runtime==13.0.96
hf-xet==1.6.0
libraft-cu13==26.6.0
keyring==25.7.0
vega-datasets==0.9.0
python-box==7.4.1
timm==1.0.30
matplotlib-venn==1.1.2
jupyter_kernel_gateway==2.5.2
bigquery-magics==0.14.0
sphinxcontrib-htmlhelp==2.1.0
earthengine-api==1.7.39
fastprogress==1.1.6
nibabel==5.4.2
google==3.0.0
typing_extensions==4.16.0
jupyterlab_widgets==3.0.17
zict==3.0.0
grpcio==1.84.0
Pygments==2.21.0
array_record==0.8.3
google-api-python-client==2.201.0
uri-template==1.3.0
standard-aifc==3.13.0
tweepy==4.17.0
nvidia-nvvm==13.0.88
nvidia-nvimgcodec-cu13==0.8.0.22
snowballstemmer==3.1.1
wrapt==2.5.0
iniconfig==2.3.0
opencv-contrib-python==4.14.0.94
rsa==4.9.1
sentry-sdk==2.71.0
libpysal==4.14.1
cupy-cuda13x==14.0.1
partd==1.4.2
nvidia-nvtx==13.0.85
nvidia-nvshmem-cu13==3.4.5
attrs==26.1.0
importlib_metadata==9.0.1
pygame==2.6.1
rmm-cu13==26.6.0
Jinja2==3.1.6
hf-gradio==0.4.1
easydict==1.13
entrypoints==0.4
pyperclip==1.11.0
prometheus_client==0.26.0
jsonpickle==4.1.2
semantic-version==2.10.0
pyparsing==3.3.3
nvidia-cudnn-cu13==9.19.0.56
nvidia-cuda-nvrtc-cu12==12.9.86
cffi==2.1.1
pydot==4.0.1
nbclient==0.10.4
accelerate==1.15.0
numba==0.61.2
nvtx==0.2.16
distro==1.9.0
rich==13.9.4
Cython==3.0.12
cuda-toolkit==13.0.2
inflect==7.5.0
httpimport==1.4.1
tensorflow-metadata==1.21.0
future==1.0.0
notebook_shim==0.2.4
annotated-types==0.8.0
torchcodec==0.11.0+cu130
python-fasthtml==0.14.13
natsort==8.4.0
rfc3339-validator==0.1.4
jupyter-events==0.12.1
gin-config==0.5.0
parsy==2.2
nvidia-cuda-nvcc==13.0.88
protobuf==6.33.6
quantecon==0.12.0
gast==0.7.0
lz4==4.4.5
statsmodels==0.15.0
orbax-checkpoint==0.12.6
more-itertools==10.8.0
music21==9.9.2
albumentations==2.0.8
cuml-cu13==26.6.0
httpx2==2.13.1
pyOpenSSL==26.4.0
rasterstats==0.21.0
cudf-cu13==26.6.0
contourpy==1.4.0
llvmlite==0.44.0
geographiclib==2.1
gspread-dataframe==4.0.0
jax==0.11.1
etils==1.14.0
immutabledict==4.3.1
albucore==0.0.24
param==2.4.2
tensorstore==0.1.85
jax-cuda13-pjrt==0.11.1
etuples==0.3.10
autograd==1.9.1
holidays==0.105
libkvikio-cu13==26.6.0
simsimd==6.5.16
multidict==6.9.1
blosc2==4.14.1
tensorflow-text==2.21.1
namex==0.1.0
audioread==3.1.0
PyJWT==2.15.1
nvidia-cuda-cccl==13.0.85
opt_einsum==3.4.0
logical-unification==0.4.7
prophet==1.4.0
nbconvert==7.17.1
xlrd==2.0.2
mapclassify==2.10.0
mgwr==2.2.1
cufflinks==0.17.3
sentence-transformers==5.7.0
argon2-cffi==25.1.0
sphinxcontrib-applehelp==2.0.0
ibis-framework==9.5.0
peft==0.21.1
roman-numerals==4.1.0
cymem==2.0.13
pytz==2025.2
urllib3==2.5.0
jaxlib==0.11.1
ucxx-cu13==0.50.0
fastcore==2.2.32
editdistance==0.8.1
SQLAlchemy==2.1.1
datasets==4.8.5
chardet==5.2.0
dataproc-spark-connect==1.1.0
fastjsonschema==2.22.2
sphinxcontrib-serializinghtml==2.0.0
pyspark==4.0.4
tzlocal==5.4.4
tabulate==0.9.0
cuvs-cu13==26.6.0
ipyleaflet==0.20.0
jupyter-console==6.6.3
terminado==0.18.1
spopt==0.7.0
Markdown==3.11
spaghetti==1.7.6
torch==2.11.0+cu130
babel==2.18.0
srsly==2.5.4
markdown-it-py==4.2.0
nltk==3.9.1
google-cloud-functions==1.24.0
yfinance==0.2.66
sqlparse==0.6.0
pyogrio==0.13.0
rapidsmpf-cu13==26.6.0
google-crc32c==1.9.0
torchtune==0.6.1
websocket-client==1.9.2
jeepney==0.9.0
langgraph-prebuilt==1.1.0
tsfresh==0.21.2
toml==0.10.2
tenacity==9.1.4
murmurhash==1.0.15
cycler==0.12.1
libcugraph-cu13==26.6.0
google-cloud-firestore==2.33.0
standard-sunau==3.13.0
h2==4.4.1
Bottleneck==1.4.2
rapids-dask-dependency==26.6.0
google-cloud-bigquery-connection==1.22.0
CacheControl==0.14.4
treescope==0.1.10
ipython==7.34.0
nvidia-cuda-nvrtc==13.0.88
nvidia-curand==10.4.0.35
humanize==4.16.0
treelite==4.7.2
requests==2.32.4
distributed-ucxx-cu13==0.50.1
ptyprocess==0.7.0
dopamine_rl==4.1.2
ipyevents==2.0.4
nvidia-nccl-cu13==2.28.9
pycairo==1.29.1
blis==1.3.3
ratelim==0.1.6
sqlglot==25.20.2
pandas-gbq==0.30.0
libucxx-cu13==0.50.0
opencv-python==5.0.0.93
multipledispatch==1.0.0
google-adk==2.7.1
ImageIO==2.38.0
google-cloud-core==2.8.0
mpmath==1.3.0
httptools==0.8.0
isoduration==20.11.0
lightgbm==4.6.0
tensorflow==2.21.0
parso==0.8.7
frozenlist==1.8.0
dask==2026.1.1
annotated-doc==0.0.5
fastai==2.8.12
flax==0.11.2
clarabel==0.11.1
google-cloud-storage==3.15.1
sniffio==1.3.1
cuda-pathfinder==1.8.2
pandas-datareader==0.11.1
pysal==25.7
imageio-ffmpeg==0.6.0
typeguard==4.6.0
mlxtend==0.23.4
GDAL==3.8.4
textblob==0.19.0
click==8.5.0
grpcio-status==1.84.0
dask-cudf-cu13==26.6.0
pyasn1_modules==0.4.2
antlr4-python3-runtime==4.9.3
openai==2.54.0
google-auth-httplib2==0.4.3
aiosqlite==0.22.1
aiohappyeyeballs==2.7.1
polars==1.35.2
gspread==6.2.1
tinycss2==1.5.1
interface_meta==2.0.1
ipyparallel==8.8.0
libnvforest-cu13==26.6.0
momepy==0.11.0
python-snappy==0.7.3
tf_keras==2.21.0
google-genai==2.12.1
imagesize==2.0.1
missingno==0.5.2
httpcore2==2.13.1
psygnal==0.16.1
joblib==1.6.0
fastapi==0.141.1
tensorflow-datasets==4.9.10
yarl==1.25.1
numpy==2.1.3
nvidia-nccl-cu12==2.32.3
stanio==0.5.1
idna==3.20
fsspec==2025.12.0
grpc-google-iam-v1==0.14.5
intel-openmp==2025.3.3
wheel==0.48.0
langgraph-checkpoint==4.2.0
PyOpenGL==3.1.10
mdit-py-plugins==0.6.1
sphinxcontrib-jsmath==1.0.1
curl_cffi==0.16.3
sortedcontainers==2.4.0
pandas==2.2.3
simple-parsing==0.1.9
jaraco.context==6.1.2
torchaudio==2.11.0+cu130
shapely==2.1.2
geopandas==1.2.0
nvidia-cuda-crt==13.4.92
safehttpx==0.1.7
gradio==6.29.0
slicer==0.0.8
nx-cugraph-cu13==26.6.0
kagglehub==1.0.2
python-utils==4.0.1
google-cloud-translate==3.27.0
langgraph==1.2.12
graphviz==0.21
decorator==4.4.2
pandas-stubs==2.2.3.250527
libcudf-cu13==26.6.0
xxhash==4.0.1
pyviz_comms==3.0.6
dask-cuda==26.6.0
grpc-interceptor==0.15.4
scooby==0.12.0
cryptography==50.0.2
weasel==1.0.0
bleach==6.4.0
notebook==6.5.7
pyzmq==26.2.1
holoviews==1.23.2
langgraph-sdk==0.4.5
yellowbrick==1.5
filelock==4.0.7
astropy==7.2.2
nvidia-cuda-nvcc-cu12==12.9.86
optree==0.20.0
google-auth-oauthlib==1.5.0
spacy-loggers==1.0.5
fqdn==1.6.0
omegaconf==2.3.1
gdown==5.2.2
soundfile==0.14.0
aiosignal==1.4.0
triton==3.6.0
pycryptodomex==3.23.0
openpyxl==3.1.5
google-api-core==2.30.3
google-cloud-bigquery==3.45.2
typer==0.27.2
ipykernel==6.17.1
PyGObject==3.48.2
dill==0.4.1
docstring_parser==0.18.0
cons==0.4.7
matplotlib==3.10.0
tbb==2022.3.1
widgetsnbextension==3.6.10
preshed==3.0.13
google-cloud-language==2.21.0
jupytext==1.19.5
miniKanren==1.0.5
h5netcdf==1.8.1
watchfiles==1.3.0
geopy==2.4.1
locket==1.0.0
keras-hub==0.26.0
moviepy==1.0.3
narwhals==2.26.0
imbalanced-learn==0.14.2
opentelemetry-resourcedetector-gcp==1.14.0
google-cloud-storage-control==1.15.0
pandocfilters==1.5.1
proglog==0.1.12
giddy==2.3.9
tensorboard==2.21.0
blobfile==3.3.0
keras==3.13.2
jupyter_server==2.20.0
betterproto==2.0.0b7
astropy-iers-data==0.2026.9.28.0.59.37
jupyterlab_pygments==0.3.0
python-multipart==0.0.32
Sphinx==8.2.3
nvidia-cudnn-cu12==9.27.0.42
pycocotools==2.0.11
PuLP==4.0.0
tifffile==2026.9.20
tobler==0.14.0
xgboost==3.4.1
tf-slim==1.1.0
thinc==8.3.13
google-cloud-datastore==2.26.1
zstandard==0.25.0
pygit2==1.20.1
py4j==0.10.9.9
tomlkit==0.14.0
certifi==2026.7.22
affine==3.0.1
jieba==0.42.1
mizani==0.13.5
cvxpy==1.6.7
scikit-learn==1.6.1
starlette==1.7.0
google-cloud-dataproc==5.30.0
prettytable==3.18.0
cuda-python==13.0.3
pexpect==4.9.0
pyiceberg==0.12.0
spacy-legacy==3.0.12
safetensors==0.8.0
langchain==1.4.3
rasterio==1.5.2
panel==1.9.4
cuda-bindings==13.0.3
cmdstanpy==1.3.0
altair==5.5.0
libcuvs-cu13==26.6.0
deprecation==2.1.0
sphinxcontrib-qthelp==2.0.0
rfc3986-validator==0.1.1
hdbscan==0.8.44
beartype==0.22.9
rtree==1.4.1
traittypes==0.2.3
nvidia-cuda-cupti-cu12==12.9.79
highspy==1.15.1
pylibraft-cu13==26.6.0
lark==1.3.1
nvidia-ml-py==13.615.71
pyarrow==23.0.1
types-pytz==2026.4.0.20260926
bigframes==2.49.0
opentelemetry-api==1.42.1
scikit-image==0.25.2
brotli==1.2.0
nvidia-cusparse==12.6.3.3
formulaic==1.2.2
folium==0.20.0
aiofiles==25.1.0
duckdb==1.3.2
nbclassic==1.3.3
networkx==3.7
keras-nlp==0.26.0
simplejson==4.1.2
Farama-Notifications==0.0.6
tiktoken==0.14.0
linkify-it-py==2.2.0
standard-chunk==3.13.0
pooch==1.9.0
gcsfs==2025.12.0
httpx==0.28.1
cvxopt==1.3.2
jsonpatch==1.33
spacy==3.8.16
nvidia-cufft-cu12==11.4.1.4
astunparse==1.6.3
apsw==3.53.4.0
stringzilla==5.1.2
portpicker==1.5.2
propcache==0.5.4
geocoder==1.38.1
firebase-admin==6.9.0
cachetools==6.2.6
oauth2client==4.1.3
scs==3.3.1
raft-dask-cu13==26.6.0
charset-normalizer==3.4.9
wasabi==1.1.3
platformdirs==4.12.2
diffusers==0.40.0
h11==0.16.0
glob2==0.7
cloudpickle==3.1.2
Send2Trash==2.1.0
python-slugify==9.1.2
joserfc==1.7.5
jupyter-leaflet==0.20.0
tzdata==2026.4
keyrings.google-artifactregistry-auth==1.1.2
Werkzeug==3.1.9
pillow==11.3.0
cramjam==2.13.0
plotnine==0.14.5
oauthlib==3.3.1
xarray==2025.12.0
bokeh==3.8.2
cloudpathlib==0.25.0
lxml==6.1.3
googledrivedownloader==1.1.0
psutil==5.9.5
spglm==1.1.0
tqdm==4.67.3
xarray-einstats==0.11.0
nvidia-cusparselt-cu13==0.8.0
spanner-graph-notebook==1.1.11
backcall==0.2.0
torchsummary==1.5.1
SecretStorage==3.5.0
pynndescent==0.6.0
langchain-protocol==0.0.19
opentelemetry-semantic-conventions==0.63b1
hyperopt==0.3.0
text-unidecode==1.3
hyperframe==6.1.0
pluggy==1.6.0
MarkupSafe==3.0.3
webencodings==0.6.1
uvicorn==0.54.0
pyasn1==0.6.4
python-json-logger==4.2.0
promise==2.3
wandb==0.28.1
cligj==0.7.2
pydata-google-auth==1.9.1
requests-oauthlib==2.0.0
pyroaring==1.1.0
pyomo==6.10.1
orloge==1.0.0
sentencepiece==0.2.2
nvidia-cusolver==12.0.4.66
wordcloud==1.9.6
librapidsmpf-cu13==26.6.0
uritemplate==4.2.0
nvidia-cuda-runtime-cu12==12.9.79
httpcore==1.0.9
colorlover==0.3.0
orjson==3.12.0
plotly==5.24.1
shap==0.52.0
jax-cuda13-plugin==0.11.1
typing-inspection==0.4.4
mistune==3.3.4
xee==0.1.2
html5lib==1.1
branca==0.8.2
ormsgpack==1.12.2
tensorflow-probability==0.25.0
google-pasta==0.2.0
access==1.1.10.post3
zipp==4.1.0
libcuml-cu13==26.6.0
fonttools==4.66.1
intel-cmplr-lib-ur==2025.3.3
strictyaml==1.7.3
PySocks==1.7.1
pickleshare==0.7.5
kaggle==2.0.2
spreg==1.9.0
Flask==3.1.3
sklearn-pandas==2.2.0
jsonschema-specifications==2025.9.1
ml_dtypes==0.6.0
anyio==4.15.1
sphinxcontrib-devhelp==2.0.0
onemkl-license==2025.3.1
six==1.17.0
tensorboard-data-server==0.7.2
threadpoolctl==3.7.0
uuid_utils==0.17.1
tcmlib==1.5.0
scipy==1.16.3
google-cloud-spanner==3.71.0
esda==2.9.0
peewee==4.5.2
argon2-cffi-bindings==26.1.0
imutils==0.5.4
py-cpuinfo==9.0.0
truststore==0.10.4
google-resumable-media==2.11.0
jaraco.functools==4.6.0
google-cloud-bigquery-storage==2.41.0
alabaster==1.0.0
nvidia-cublas-cu12==12.9.2.10
pydantic_core==2.46.5
matplotlib-inline==0.2.2
watchdog==6.0.0
google-auth==2.49.0
fasttransform==0.0.5
ipywidgets==7.7.1
h5py==3.14.0
gym==0.25.2
xyzservices==2026.9.1
groovy==0.1.2
python-louvain==0.16
grain==0.2.18
progressbar2==4.5.0
rpy2==3.5.17
sklearn-compat==0.1.6
rpds-py==2026.6.3
panel-material-ui==0.16.0
einops==0.8.2
pointpats==2.5.5
lazy-loader==0.6
pymc==5.28.5
atpublic==5.1
webcolors==25.10.0
dlib==20.0.1
ydf==0.15.0
patsy==1.0.3
torchvision==0.26.0+cu130
ndindex==1.10.1
defusedxml==0.7.1
dm-tree==0.1.10
google-cloud-resource-manager==1.18.0
catalogue==2.0.10
flatbuffers==25.12.19
arviz==0.22.0
cudf-polars-cu13==26.6.0
nvidia-curand-cu12==10.3.10.19
ipyfilechooser==0.6.0
stumpy==1.14.1
frozendict==2.4.7
en_core_web_sm==3.8.0
community==1.0.0b1
arrow==1.4.0
itsdangerous==2.2.0
jiter==0.17.0
tornado==6.5.7
multitasking==0.0.13
beautifulsoup4==4.13.5
nvidia-cusparse-cu12==12.5.10.65
httplib2==0.32.0
shellingham==1.5.4
pydotplus==2.0.2
tables==3.10.2
cucim-cu13==26.6.0
seaborn==0.13.2
cpsat-logutils==1.0.0
distributed==2026.1.1
pytest==8.4.2
torchao==0.10.0
mdurl==0.1.2
PyYAML==6.0.3
tensorflow-hub==0.16.1
uvloop==0.23.0
spint==1.1.0
tblib==3.2.2
pyerfa==2.0.1.5
multiprocess==0.70.19
nvidia-cufft==12.0.0.61
nh3==0.3.7
hpack==4.2.0
splot==1.1.7
pydub==0.25.1
umap-learn==0.5.12
nvforest-cu13==26.6.0
colorcet==3.2.1
libclang==18.1.1
cuda-core==0.7.0
pytensor==2.38.3
soxr==1.1.0
soupsieve==2.10
polars-runtime-32==1.35.2
kiwisolver==1.5.1
rapids-logger==0.2.3
docutils==0.21.2
sympy==1.14.0
anywidget==0.9.21
roman-numerals-py==4.1.0
libucx-cu13==1.20.1
PyWavelets==1.10.0
librmm-cu13==26.6.0
pydantic==2.13.5
librosa==0.11.0
mmh3==5.3.1
langsmith==0.14.2
traitlets==5.7.1
jaraco.classes==3.4.0
db-dtypes==1.7.1
optax==0.2.8
cyipopt==1.5.0
audioop-lts==0.2.2
pycparser==3.0
nvidia-cuda-cupti==13.0.85
smart_open==8.0.2
geemap==0.38.8
nvidia-nvjitlink-cu12==12.9.86
packaging==26.3
websockets==15.0.1
jupyter_server_terminals==0.5.4
jupyter_client==7.4.9
opentelemetry-sdk==1.42.1
nvidia-nvjitlink==13.0.88
gradio_client==2.7.1
blinker==1.9.0
nvidia-cufile==1.15.1.6
plum-dispatch==2.9.0
nvidia-cusolver-cu12==11.7.5.82
nvidia-cublas==13.1.0.3
regex==2025.11.3
eerepr==0.1.3
Authlib==1.8.0
msgpack==1.2.3
python-dateutil==2.9.0.post0
mkl==2025.3.1
inequality==1.1.2
requests-toolbelt==1.0.0
psycopg2==2.9.13
jupyter_core==5.9.1
pyshp==3.1.6
torchdata==0.11.0
nest-asyncio==1.6.0
ipython-sql==0.5.0
segregation==2.5.4
toolz==0.12.1
fastdownload==0.0.8
langchain-core==1.6.6
nbformat==5.11.1
pylibcugraph-cu13==26.6.0
termcolor==3.3.0
ydf_tf==2.21.0
kagglesdk==0.1.37
bqplot==0.12.47
et_xmlfile==2.0.0
umf==1.0.3
aiohttp==3.14.3
python-dotenv==1.2.3
prompt_toolkit==3.0.53
ipython-genutils==0.2.0
cmake==3.31.10
jsonpointer==3.1.1
proto-plus==1.29.0
python-apt==0.0.0
cryptography==41.0.7
cryptography==41.0.7
distro==1.9.0
PyJWT==2.7.0
pyparsing==3.1.1
dbus-python==1.3.2
python-apt==2.7.7+ubuntu5.3
blinker==1.7.0
httplib2==0.20.4
oauthlib==3.2.2
lazr.uri==1.0.6
launchpadlib==1.11.0
six==1.16.0
wadllib==1.3.6
lazr.restfulclient==0.14.6
PyGObject==3.48.2
MarkupSafe==2.1.5
setuptools==68.1.2
packaging==24.0
numpy==1.26.4
Mako==1.3.2.dev0
Markdown==3.5.2
GDAL==3.8.4
